.defaultManu {
    transform: translate3d(-330px, 0, 0);
}

.toggleManu {
    transform: translate3d(0, 0, 0)
}

.hoverClass {
    color: #ffc222;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #ffc222;
    border: 2px solid transparent;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 8px 0;
    width: 150px;
    transition: all 0.5s;
    color: black;
    font-weight: 500;
    cursor: pointer;
    /* margin: 5px; */
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover {
    border: 2px solid black;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}